* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #f2f2f2;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.gallery img {
    height: 300px;
    margin: 10px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}


.gallery div {
    text-align: center;
    align-items: center;
    width: 400px;
    height: 300px;
    margin: 10px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

p {
    text-align: center;
    margin: 20px 0;
}

.tile {
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.year {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}